* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.debug {
    column {
        background-color: darkkhaki;
    }

    main {
        background-color: blue;
    }

    #container_logo_scritta {
        background-color: rgb(217, 83, 50);

        #img_logo {
            background-color: rgb(142, 165, 42);
        }

        #logo_scritta {
            background-color: rgb(0, 81, 255);
        }
    }

    #main_container_menu {
        background-color: yellow;

        #container_menu_lime {
            background-color: aqua;

            #icon_menu_lime {
                background-color: orange;
            }

            #text_menu_lime {
                background-color: blue;
            }
        }

        .container_menu {
            background-color: aquamarine;

            .icon_menu {
                background-color: orange;
            }

            .text_menu {
                background-color: blue;
            }
        }
    }

    #container_scritta_playlist {
        background-color: cadetblue;
    }

    #container_crea_playlist {
        background-color: yellow;

        #tasto_add {
            background-color: brown;
        }

        #scritta_crea_playlist {
            background-color: blue;
        }
    }

    #container_nome_playlist {
        background-color: yellow;

        .nomi_playlist {
            background-color: blue;
        }
    }

    #container_banda_main {
        background-color: darkgreen;

        #effettua_lupgrade {
            background-color: brown;
        }
    }

    #main_container_categorie {
        background-color: red;

        .categorie {
            background-color: blue;

        }
    }

    #container_recently_played {
        background-color: aqua;
    }

    #main_container_profile_download {
        background-color: yellow;

        #container_download {
            background-color: green;

            #icon_download {
                background-color: orange;
            }

            #text_download {
                background-color: blue;
            }
        }

        #container_profile {
            background-color: green;

            #foto_profile {
                background-color: brown;
            }

            #text_profile {
                background-color: blue;
            }
        }
    }

    footer {
        background-color: brown;
    }

    #row_container_songs {
        background-color: chartreuse;

        .container_song {
            background-color: aqua;

            .img_song {
                background-color: rgb(197, 101, 29);
            }

            .text_song {
                background-color: blueviolet;
            }
        }
    }

    #container_canzone_in_riproduzione {
        background-color: purple;

        #container_img_text_rip {
            background-color: brown;
        }

        #container_icon_rip {}
    }

    #container_column_main {
        display: flex;
        justify-content: row;

        column {
            display: flex;
            flex-direction: column;
            width: 35%;
            height: 1000px;

            #container_logo_scritta {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                width: 100%;

                #img_logo {
                    width: 25%;
                    height: 50%;
                }

                #logo_scritta {
                    width: 50%;
                    height: 50%;
                }
            }

            #main_container_menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 20%;
                margin-bottom: 30px;

                #container_menu_lime {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: 3px solid lime;
                    width: 100%;
                    height: calc(100% / 12 * 3);

                    #icon_menu_lime {
                        width: 20%;
                        height: 50%;
                    }

                    #text_menu_lime {
                        width: 50%;
                        height: 50%;
                    }
                }

                .container_menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: calc(100% / 12 * 3);

                    .icon_menu {
                        width: 20%;
                        height: 50%;
                    }

                    .text_menu {
                        width: 50%;
                        height: 50%;
                    }
                }
            }

            #container_scritta_playlist {
                width: 50%;
                height: 2%;
                margin-left: 35px;
                margin-bottom: 30px;
            }

            #container_crea_playlist {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 35px;
                margin-bottom: 30px;
                width: 75%;
                height: 5%;

                #tasto_add {
                    width: 30%;
                    height: 70%;
                }

                #scritta_crea_playlist {
                    width: 50%;
                    height: 50%;
                }
            }

            #container_nome_playlist {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 75%;
                height: 35%;
                margin-left: 35px;
                margin-bottom: 55%;

                .nomi_playlist {
                    width: 70%;
                    height: calc(100% / 12 * 1);
                }
            }

            #main_container_profile_download {
                display: flex;
                flex-direction: column;
                height: 9%;
                padding: 10px;

                hr {}

                #container_download {
                    display: flex;
                    align-items: center;
                    height: 50%;
                    width: 100%;

                    #icon_download {
                        width: 10%;
                        height: 50%;
                    }

                    #text_download {
                        width: 50%;
                        height: 50%;
                    }
                }

                #container_profile {
                    display: flex;
                    align-items: center;
                    height: 50%;
                    width: 100%;

                    #foto_profile {
                        width: 20%;
                        height: 60%;
                    }

                    #text_profile {
                        width: 40%;
                        height: 60%;
                    }
                }






            }
        }

        main {
            display: flex;
            flex-direction: column;
            width: 65%;
            height: 1000px;

            #container_banda_main {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
                height: 10%;

                #effettua_lupgrade {
                    width: 50%;
                    height: 50%;
                }
            }

            #main_container_categorie {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;
                padding: 20px;
                margin-bottom: 30px;

                .categorie {
                    display: flex;
                    height: 20%;
                    width: calc(100% / 12 * 3);
                    border: 3px solid black;
                }
            }

            #container_recently_played {
                width: 35%;
                height: 5%;
                margin-left: 20px;
                margin-bottom: 30px;
            }

            #row_container_songs {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                height: 74%;
                padding: 20px;

                .container_song {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid black;
                    width: 40%;
                    margin: 10px;

                    .img_song {
                        width: 100%;
                        height: 140px;
                    }

                    .text_song {
                        width: 100%;
                        height: 72px;
                    }
                }
            }










        }


    }


    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
        width: 100%;
        padding: 10px;

        #container_canzone_in_riproduzione {

            #container_img_text_rip {}

            #container_icon_rip {}
        }
    }
}