* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

:root {
    --spo-colonna: #000000;
    --spo-upgrade: #080b12d4;
    --spo-main: #141922;
    --spo-font: #6f6f6f;
    --spo-bordo: #adff2f;
    --spo-player: #282828;
}



#container_column_main {
    display: flex;
    justify-content: row;

    /*colonna laterale*/
    column {

        background-color: var(--spo-colonna);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;
        height: calc(100vh - 90px);
        overflow-y: auto;

        /*logo spotify*/
        #container_logo_scritta {
            display: flex;
            align-items: center;
            padding: 20px;
            height: 80px;
            width: 100%;

            #img_logo {
                background-image: url(./img/logo.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 150px;
                color: white;
            }

        }

        /*menu di navigazione*/
        #main_container_menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100px;
            margin-bottom: 25px;

            #container_menu_lime {
                display: flex;
                align-items: center;
                border-left: 3px solid lime;
                width: 100%;
                height: calc(100% / 12 * 3);
                padding-left: 20px;
                text-decoration: none;

                #icon_menu_lime {
                    height: 25px;
                }

                #text_menu_lime {
                    margin-left: 5px;
                    font-size: 15px;
                    color: white;
                }
            }

            .container_menu {
                display: flex;
                align-items: center;
                width: 100%;
                height: calc(100% / 12 * 3);
                padding-left: 20px;
                text-decoration: none;

                .icon_menu {
                    height: 25px;
                    font-size: 25px;
                    filter: invert(44%) sepia(0%) saturate(41%) hue-rotate(134deg) brightness(94%) contrast(79%);
                }

                .icon_menu:hover {
                    filter: none;
                }

                .text_menu {
                    margin-left: 5px;
                    font-size: 15px;
                    color: var(--spo-font);
                }

                .text_menu:hover {
                    color: white;
                }
            }
        }

        /*scritta "PLAYLIST"*/
        #container_scritta_playlist {
            color: white;
            margin-left: 25px;
            margin-bottom: 10px;
        }

        /*tasto e testo crea playlist*/
        #container_crea_playlist {
            display: flex;
            align-items: center;
            margin-left: 25px;
            margin-bottom: 20px;


            #tasto_add {
                background-color: var(--spo-font);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 35px;
                margin-right: 10px;
                width: 35px;
                height: 35px;
            }

            #tasto_add:hover {
                background-color: white;
            }

            #scritta_crea_playlist {
                font-size: 14px;
                color: var(--spo-font);
                text-decoration: none;
            }

            #scritta_crea_playlist:hover {
                color: white;
            }
        }

        /*nomi delle playlist*/
        #container_nome_playlist {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 25px;
            text-decoration: none;

            .nomi_playlist {
                color: var(--spo-font);
                font-size: 15px;
                margin-bottom: 25px;
            }

            .nomi_playlist:hover {
                color: white;
            }
        }

        /*profilo dell utente e tasto download*/
        #main_container_profile_download {
            display: flex;
            flex-direction: column;
            background-color: var(--spo-colonna);
            height: 75px;
            margin-bottom: 5px;
            margin-left: 15px;
            text-decoration: none;
            position: sticky;
            bottom: 5px;
            left: 0;

            hr {
                border-color: var(--spo-font);
                margin-top: 12px;
                margin-bottom: 12px;
                width: 175px;
            }

            #container_download {
                display: flex;
                align-items: center;
                height: 70px;
                width: 100%;

                #icon_download {
                    filter: invert(44%) sepia(0%) saturate(41%) hue-rotate(134deg) brightness(94%) contrast(79%);
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                }

                #icon_download:hover {
                    filter: none;
                }

                #text_download {
                    color: var(--spo-font);
                }

                #text_download:hover {
                    color: white;
                }
            }



            #container_profile {
                display: flex;
                align-items: center;
                height: 50%;
                width: 100%;



                #foto_profile {
                    background-color: var(--spo-font);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }

                #text_profile {
                    margin-left: 10px;
                    color: white;
                }
            }






        }
    }

    /*contenuto principale*/
    main {
        background-color: var(--spo-main);
        display: flex;
        flex-direction: column;
        width: calc(100% - 70px);
        height: calc(100vh - 90px);
        overflow-y: auto;

        /*banda superiore con tasto "EFFETTUA L'UPGRADE"*/
        #container_banda_main {
            background-color: var(--spo-upgrade);
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;
            padding: 20px;
            position: sticky;
            top: 0;
            right: 0;

            #effettua_lupgrade {
                color: white;
                border: 2px solid white;
                border-radius: 30px;
                margin-right: 5px;
                padding-top: 14px;
                padding-bottom: 14px;
                font-size: 14px;
                padding-left: 20px;
                padding-right: 20px;
                text-decoration: none;
            }

            #effettua_lupgrade:hover {
                font-size: 17px
            }
        }

        /*categorie canzoni*/
        #main_container_categorie {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;


            .categorie {
                color: var(--spo-font);
                margin: 10px;
                display: flex;
                justify-content: center;
                font-size: 15px;
                display: flex;
                text-decoration: none;
            }

            .categorie:hover {
                color: white;
            }
        }

        /*scritta "Recently Played"*/
        #container_recently_played {
            color: white;
            font-size: 28px;
            margin-left: 25px;
            margin-top: 20px;
        }

        /*ultime canzoni ascoltate*/
        #row_container_songs {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;

            .container_song {
                display: flex;
                flex-direction: column;
                width: 170px;
                margin: 10px;
                text-decoration: none;

                #img_song_1 {
                    background-image: url(./img/metal_lifting.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_song_2 {
                    background-image: url(./img/stranger.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_song_3 {
                    background-image: url(./img/aquietplace.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_song_4 {
                    background-image: url(./img/split.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_song_5 {
                    background-image: url(./img/cure.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_song_6 {
                    background-image: url(./img/sinister.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .text_song {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .title_song {
                        color: white;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 18px;
                    }

                    .subtitle_song {
                        color: var(--spo-font);
                        text-align: center;
                        font-size: 14px;
                    }
                }
            }
        }

        /*testo "Creato per Jhon Doe"*/
        #creato_per_john_doe {
            margin-left: 25px;
            margin-top: 20px;

            #titolo_creato_per_john_doe {
                color: white;
                font-size: 28px;
                margin-bottom: 10px;
            }

            #sottotesto_creato_per_john_doe {
                color: var(--spo-font);
                font-size: 14px;
            }
        }

        /*mix canzoni personalizzato*/
        #row_container_mix {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;

            .container_mix {
                display: flex;
                flex-direction: column;
                width: 170px;
                margin: 10px;
                text-decoration: none;

                #img_mix_1 {
                    background-image: url(./img/radar.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_mix_2 {
                    background-image: url(./img/mixdaily.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .text_mix {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .title_mix {
                        color: white;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }

        /*scritta "artisti più popolari"*/
        #artisti_piu_popolari {
            margin-left: 25px;
            margin-top: 20px;

            #titolo_artisti_piu_popolari {
                color: white;
                font-size: 28px;
                margin-bottom: 10px;
            }

            #sottotesto_artisti_piu_popolari {
                color: var(--spo-font);
                font-size: 14px;
            }
        }

        /*consigli artisti popolari*/
        #row_container_popolar {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;

            .container_popolar {
                display: flex;
                flex-direction: column;
                width: 170px;
                margin: 10px;
                text-decoration: none;

                #img_popolar_1 {
                    background-image: url(./img/youg.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 100px;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                        border-radius: 100px;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                #img_popolar_2 {
                    background-image: url(./img/einaudi.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 100px;
                    width: 100%;
                    height: 170px;

                    .overlay {
                        color: white;
                        font-size: 40px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.578);
                        display: none;
                        border-radius: 100px;
                    }

                    &:hover .overlay {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .text_popolar {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .title_popolar {
                    color: white;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}

/*player canzone in riproduzione*/
footer {
    background-color: var(--spo-player);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    overflow-y: auto;
    padding: 10px;

    /*brano in riproduzione*/
    #container_canzone_in_riproduzione {
        display: flex;

        #container_img_text_rip {
            display: flex;
            align-items: center;

            #img_rip {
                background-image: url(../assets/img/sinister.jpeg);
                background-size: cover;
                height: 45px;
                width: 45px;
            }

            #title_rip {
                margin-left: 10px;
                font-size: 14px;
                color: white;
                text-decoration: none;
            }

            #title_rip:hover {
                text-decoration: underline;
            }

            #subtitle_rip {
                margin-left: 10px;
                font-size: 12px;
                color: var(--spo-font);
            }
        }

        #container_icon_rip {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 10px;

            .fa-heart {
                color: var(--spo-font);
            }

            .fa-heart:hover {
                color: white;
            }

            .fa-folder {
                color: var(--spo-font);
            }

            .fa-folder:hover {
                color: white;
            }
        }
    }

    /*player*/
    #container_player_botton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 325px;
        height: 35px;

        #container_bottons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 15px;

            .fa-shuffle {
                color: white;
                margin-right: 20px;
            }

            .fa-backward-step {
                color: white;
            }

            .fa-circle-play {
                color: white;
                margin-left: 30px;
                margin-right: 30px;
                font-size: 25px;
            }

            .fa-circle-play:hover {
                font-size: 30px;
            }

            .fa-forward-step {
                color: white;
            }

            .fa-rotate-right {
                color: white;
                margin-left: 20px;
            }
        }

        #container_player {
            align-items: center;
            display: flex;

            #riga_player_1 {
                border-radius: 5px;
                background-color: white;
                width: 20px;
                height: 5px;
                position: relative;
            }

            .fa-circle {
                position: absolute;
                color: white;
                left: 316px;
                display: none;
                bottom: 15px;
            }

            &:hover .fa-circle {
                display: block;
            }

            #riga_player_1:hover {
                background-color: var(--spo-bordo);
            }

            #riga_player_2 {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: var(--spo-font);
                width: 90px;
                height: 5px;
            }

            #numero_traccia_audio_1 {
                color: white;
                font-size: 12px;
                margin-right: 10px;
            }

            #numero_traccia_audio_2 {
                color: white;
                font-size: 12px;
                margin-left: 10px;
            }

        }
    }

    /*regolazione volume*/
    #container_icons_volume {
        display: flex;
        align-items: center;

        .fa-list {
            color: var(--spo-font);
            margin-right: 10px;
        }

        .fa-list:hover {
            color: white;
        }

        .fa-display {
            color: var(--spo-font);
            margin-right: 10px;
        }

        .fa-display:hover {
            color: white;
        }

        .fa-volume-high {
            color: var(--spo-font);
            margin-right: 10px;
        }

        .fa-volume-high:hover {
            color: white;
        }

        #riga_volume_1 {
            height: 5px;
            border-radius: 5px;
            background-color: white;
            width: 20px;
        }

        #riga_volume_1:hover {
            background-color: var(--spo-bordo);
        }

        #riga_volume_2 {
            height: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: var(--spo-font);
            width: 50px;
        }
    }
}





/*parte mobile*/
@media screen and (max-width:552px) {

    #container_column_main {

        column {

            width: 70px;

            #container_logo_scritta {
                margin-left: 20px;
                margin-top: 10px;
                height: 50px;
                padding: 0;
                width: 30px;

                #img_logo {
                    background-image: url(./img/logo-small.svg);
                }
            }

            #main_container_menu {

                #container_menu_lime {

                    #text_menu_lime {
                        display: none;
                    }
                }

                .container_menu {

                    .text_menu {
                        display: none;
                    }
                }
            }

            #container_scritta_playlist {
                display: none;
            }

            #container_crea_playlist {
                display: none;
            }

            #container_nome_playlist {
                display: none;
            }

            #main_container_profile_download {

                hr {
                    display: none;
                }

                #container_download {

                    #text_download {
                        display: none;
                    }

                    #icon_download {
                        margin-left: 5px;
                    }
                }

                #container_profile {

                    #text_profile {
                        display: none;
                    }
                }
            }


        }

        main {

            #main_container_categorie {

                .categorie {
                    font-size: 13px;
                }
            }

            #container_recently_played {
                font-size: 22px;
            }

            #row_container_songs {
                padding: 20px;

                .container_song {
                    width: 190px;
                    margin: 5px;
                }
            }

        }
    }
}

/*parte deckstop*/
@media screen and (min-width:878px) {

    footer {

        #container_canzone_in_riproduzione {

            #container_icon_rip {
                flex-direction: row;
                margin: 40px;

                .fa-heart {
                    margin-right: 10px;
                }
            }
        }

        #container_player_botton {

            #container_player {

                #riga_player_1 {
                    width: 50px;
                }

                #riga_player_2 {
                    width: 180px;
                }
            }
        }

        #container_icons_volume {

            .fa-list {
                margin-right: 20px;
            }

            .fa-volume-high {
                margin-right: 20px;
            }

            #riga_volume_1 {
                width: 40px;
            }

            #riga_volume_2 {
                width: 90px;
            }
        }
    }
}